@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1),
    /* top's shadow */ 0 4px 6px rgba(0, 0, 0, 0.1),
    /* bottom's shadow */ -4px 0 6px rgba(0, 0, 0, 0.1),
    /* left's shadow */ 4px 0 6px rgba(0, 0, 0, 0.1);
  /* right's shadow */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
